:root {
  --color-1: #ffd330;
  --color-2: #008e87;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  padding: 2em;
  width: 100%;
  min-height: 100vh;
}

#chapter-2 .content-2 img {
  border-radius: 80px;

}
