:root {
  --color-primary: #194892;
  --color-1: #ffd330;

  --color-2: #008e87;
  --color-a-1: #300166;
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  padding: 2em;
  width: 100%;
  min-height: 100vh;
}

.image-responsive {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.image div {
  position: unset !important;
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 0;
}

.darken {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  backdrop-filter: brightness(0.3);
}

.on-blur {
  z-index: 1;
}

#chapter-1 .title-main {
  background: #181818;
}

#chapter-1 .content-1.renaissance {
  background: url("/img/renaissance_art_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#chapter-1 .content-3 {
  background: url("/img/imprenta.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#chapter-1 .content-1 .container {
  color: #fff;
  /* background: rgba(255, 255, 255, 0.466); */
}

#chapter-1 .content-1 .container .title span.main {
  text-shadow: 0 0 35px rgba(255, 209, 5, 0.616);

  color: rgb(255, 214, 160);
}
.particle{
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fff;
  border-radius: 24px;
  z-index: 1;
}.on_particle{
  position: relative;
  z-index: 5;
}

.header .apply-bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 22, 22);
}


img.ignoredefaultRadius {
  border-radius: 0;
}

#chapter-2 .content-2 .lines.lh img {
  border-radius: 0 !important;
}

#chapter-2 img.img-1 {
  border-radius: 80px 0 0px 80px ;
}

#chapter-2 img.img-2 {

  border-radius: 0 80px 80px 0;
}

img {
  border-radius: 80px;
  background-color: var(--color-1);
}

img.round-img{
  border-radius: 35px;
}